h1{
  font-family: 'Hind', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2;
  width: 70%;
  /* margin-top: 1.5% auto; */
  margin: 3% auto;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: .75rem;
  line-height: 1.5;
  width: 70%;
  margin: 0 auto 5% auto;
}

.contact-lnk {
  font-family: 'Raleway', sans-serif;
  font-size: .75rem;
  color: blue;
}

.body-index {
  margin: 0;
  padding: 5% 10%;
  background-color: #B9201A;
  max-height: 100%;
}

.container-index {
  border: 1px solid grey;
  background-color: white;
  height: 100%;
}

.right-box {
  text-align: center;
  background-color: #F7F7FA;
}

.left-box {
  padding: 2% 5%;
  text-align: center;
}

.img-brand {
  width: 150px;
}

.img-logo {
  width: 300px;
  margin: 20% auto;
}

.username-txt, .password-txt {
  width: 70%;
  margin: 3% auto;
  border: 0;
  outline: 0;
  border-bottom: 1.5px #F7F7FA solid;
  font-family: 'Raleway', sans-serif;
  font-weight:  300;
  font-size: 0.9rem;
  text-align: center;
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  border: 0;
  border-bottom: 1px #EF3849 solid;
  outline: 0;
  box-shadow: none;
  text-align: center;
}

.form-control::placeholder {
  text-align: center;
}

.login-btn {
  background-color: #EF3849;
  color: white;
  padding: 0.375rem 0.75rem;
  border-radius: 2rem;
  width: 50%;
  margin-bottom: 5%;
}

/* Home */
.body-home {
  background-color: #F7F7FA;
}

/* .navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
} */

.nav-custom-header {
  background-color: #B9201A;
  padding: 1.5rem;
}

.navbar-brand {
  font-family: 'Hind', sans-serif;
  font-size: 2.25rem;
  margin-left: 7rem;
}

@media (max-width: 700px) {
  .navbar-brand {
    margin-left: 0;
  }
}

.navbar-nav {
  padding: 0 5rem;
}

@media (max-width: 700px) {
  .navbar-nav {
    padding: 0;
  }
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover {
  color: #f7b32d;
}

.container-home {
  position: relative;
  top: 3.5rem;
}

.first-row {
  margin: auto;
}

.img-profile {
  float: left;
  margin: 1rem;
}

@media (max-width: 700px) {
  .first-row {
    text-align: center;
  }

  .img-profile {
    float: none;
  }
}

.dp-heading {
  font-family: 'Hind', sans-serif;
  margin: 1.25rem auto;
}

.profile-txt {
  line-height: 1;
  font-size: 1rem;
}

.profile {
  background-color: white;
  padding: 1rem;
  height: 100%;
}

.notification {
  background-color: white;
  padding: 1rem;
}

.notif-heading {
  font-family: 'Hind', sans-serif;
}
.notif-subheading {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.second-row {
  margin: 5rem auto 0;
  text-align: center;
}

.card-header {
  font-family: 'Hind', sans-serif;
  background-color: #f7b32d;
  color: black;
}

.btn-danger {
  background-color: #B9201A;
  color: #f8f9fc;
}

#footer-media {
  position: relative;
  top: 15rem;
  background-color: #B9201A;
  text-align: center;
}

.footer-header {
  font-family: 'Hind', sans-serif;
  font-size: 1rem;
  color: #fff;
}

.sns-icon {
  color: #fff;
  margin: .9rem;
  width: 20px;
}
